@keyframes slideLeft {
  from {
    transform: translateX(-300px);
  }

  to {
    transform: translateX(0px);
  }
}

@keyframes slideRight {
  from {
    transform: translateX(300px);
  }

  to {
    transform: translateX(0px);
  }
}

@keyframes movedown {
  0% {
    top: 0;
  }

  100% {
    top: 45%;
  }
}

@keyframes moveup {
  0% {
    top: 90%;
  }

  100% {
    top: 45%;
  }
}

/*******************************************************************/

/*******************************************************************/

@keyframes rotateY {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(360deg);
  }
}
